{% extends "../theme/bage.html" %}

{% block typebody %}

<div class="mtop">
    <ul class="breadcrumb">
        <li><a href="/">{{ _('Home') }}</a></li>
        <li class="active">{{ view.title }}</li>
   </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><b> {{ view.title }} </b></div>
    <div class="panel-body">

 {{ datetime.datetime.fromtimestamp(postinfo.time_update).strftime('%Y-%m-%d')  }}
        <span class="split">|</span>
        {{ _('author') }} : {{ _('admin') }}
        {% if userinfo and userinfo.role[1] >= '2' %}
        <span class="split">|</span>
        <a href="/page/edit/{{ view.uid }}" class="btn btn-warning btn-xs">{{ _('Edit') }}</a>
        {% end %}
        <div id="wiki_cnt" class="listinfo_content">
            {% raw unescape(view.cnt_html) %}
        </div>



    </div>
    {% if view.uid == "special" %}
    <div class="panel-heading"><b> Special Services List </b><a href="/category/spec" style="float: right"><b>More +</b></a></div>
    {% module post_ext_cat_recent('0113', num=5) %}

    {% end if %}
</div>



{% end %}



