{% extends "../theme/bage.html" %}




{% block typebody %}


<div class="mtop">

    <ul class="breadcrumb">
        <li><a href="/">{{ _('Home') }}</a></li>

        <li class="active">{{ _('Modify personal information') }}</li>
    </ul>

</div>


<div class="panel panel-default">
    <div class="panel-heading"><b> {{ _('Modify personal information') }} </b></div>
    <div class="panel-body">

        <form class="form-horizontal" action="/user/changeinfo" method="post" id="form_changeinfo">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="rawpass">{{ _('Password') }}</label>

                <div class="col-sm-10">
                    <input type="password" name="rawpass" id="rawpass" class="form-control"
                           placeholder="Please input a password"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="user_email">{{ _('Email') }}</label>

                <div class="col-sm-10">
                    <input type="text" name="user_email" id="user_email" class="form-control"
                           placeholder="Please enter a new email address."/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>

                </div>
            </div>
        </form>


    </div>


</div>



{% end %}

